# Many of these packages are also specified in setup.py, and versions
# should be kept in sync. The list in setup.py is shorter, as it only
# includes packages needed for deployment.
IPy==1.01              # IP address parsing

# Testing and related packages
pytest==6.2.2
pytest-cov==2.11.1
coverage==5.4

# Code style and type checks
mypy==0.800
flake8==3.8.4
pep8-naming==0.11.1

# Creating python packages
setuptools==53.0.0
wheel==0.36.2
twine==3.3.0
