.logo {
    max-width: 300px;
}

.logo-small {
    max-width: 150px;
}

.nowrap {
    white-space: nowrap;
}

.badge {
    text-align: left !important;
    white-space: normal !important;
}

.spinner-border {
    /* Hack to render spinner properly within .table, which manipulates the border otherwise */
    border-bottom-width: 0.25em !important;
}
